html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main {
    background-color: #fbfbfb;
    height: 60vh;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.player-result, .cpu-result {
    text-align: center;
}

.result {
    text-align: center;
}

.game-choices {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    height: 20vh;
}

#rock, #paper, #scissors {
    border: 4px solid;
    padding: 12px;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    appearance: none;
}

#paper:hover {
    background-color: #afe4ec;
}

#rock:hover {
    background-color: #ecafaf;
}

#scissors:hover {
    background-color: #afecaf;
}

#rock img, #paper img, #scissors img {
    max-width: 96px;
}

.game-score {
    background-color: #fbfbfb;
    display: flex;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

.player-score, .cpu-score {
    font-weight: 500;
    font-size: 24px;
}

.player-item-box, .cpu-item-box {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.player-choice-img, .cpu-choice-img {
    max-width: 188px;
    height: auto;
}